@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SuperDario';
    src: url('/src/assets/fonts/SuperDario.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.text-border {
    -webkit-text-stroke: 0.5px black; /* Espessura e cor da borda */
}
