@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide {
    display: flex;
    justify-content: center; /* Centralizar os itens */
}

.slick-track {
    display: flex; /* Garantir que os itens estejam em linha */
}

@font-face {
    font-family: 'SuperDario';
    src: url('/src/assets/fonts/SuperDario.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  